<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright © 2013-2017 Uncharted Software Inc.

    Property of Uncharted™, formerly Oculus Info Inc.

    http://uncharted.software/

    Released under the MIT License.

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

    <appender name='stdout' class='org.apache.log4j.ConsoleAppender'>
        <layout class='org.apache.log4j.PatternLayout'>
            <!-- param name='ConversionPattern' value='%-10r %-5p %-20c{1} %x - %m%n'/ -->
            <param name="ConversionPattern" value="%c [%p] %d{dd MMM yyyy HH:mm:ss} %m%n"/>
        </layout>
    </appender>

    <appender name="general" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="build/tmp/testLog/pipeline-ops.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p; %d{dd MMM yyyy HH:mm:ss}; %C; %m%n"/>
        </layout>
    </appender>

    <logger name="org.spark-project.jetty.util.component.AbstractLifeCycle">
        <level value="error"/>
    </logger>

    <logger name="org.apache.spark.util.Utils">
        <level value="error"/>
    </logger>

    <logger name="org.apache.spark.metrics.MetricsSystem">
        <level value="error"/>
    </logger>

    <root>
        <priority value="warn"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>
