<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
    <appender name='stdout' class='org.apache.log4j.ConsoleAppender'>
        <layout class='org.apache.log4j.PatternLayout'>
            <!-- param name='ConversionPattern' value='%-10r %-5p %-20c{1} %x - %m%n'/ -->
            <param name="ConversionPattern" value="[%p] %d{dd MMM yyyy HH:mm:ss} %m%n"/>
        </layout>
        <filter class="org.apache.log4j.filter.ExpressionFilter">
            <param name="expression" value="EXCEPTION ~= 'Address already in use: bind'" />
            <param name="acceptOnMatch" value="false"/>
        </filter>
        <filter class="org.apache.log4j.filter.ExpressionFilter">
            <param name="expression" value="EXCEPTION ~= 'Could not locate executable null\bin\winutils.exe in the Hadoop binaries'" />
            <param name="acceptOnMatch" value="false"/>
        </filter>
    </appender>

    <appender name="general" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="build/tmp/testLog/pipeline-ops.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p; %d{dd MMM yyyy HH:mm:ss}; %C; %m%n"/>
        </layout>
        <filter class="org.apache.log4j.filter.ExpressionFilter">
            <param name="expression" value="EXCEPTION ~= 'Address already in use: bind'" />
            <param name="acceptOnMatch" value="false"/>
        </filter>
        <filter class="org.apache.log4j.filter.ExpressionFilter">
            <param name="expression" value="EXCEPTION ~= 'Could not locate executable null\bin\winutils.exe in the Hadoop binaries'" />
            <param name="acceptOnMatch" value="false"/>
        </filter>
    </appender>

    <root>
        <priority value="warn"/>
        <appender-ref ref="stdout"/>
    </root>

</log4j:configuration>
